<div class="heading">
  <h2>Olympic games app</h2>
  @if (title && title.length > 0 && Array.isArray(indicators) && indicators.length > 0) {
    <div class="metadata">
      <div class="center">
        <div>{{ title }}</div>
      </div>
      <div class="indicators">
        @for (indicator of indicators; track indicator.label) {
          <div class="indicator">
            <p>{{ indicator.label }} :</p>
            <p>{{ indicator.value }}</p>
          </div>
        }
      </div>
    </div>
  }
</div>
