/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-link {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border: 0.5px solid black;
  border-radius: 8px;

  &:hover {
    background: #f0f0f0;
  }
}
.center {
  display: flex;
  justify-content: center;
  margin: 5px;

  div {
    background: #0b868f;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
}
